@import "vars"
@import "fonts"
@import "libs"

*, *::before, *::after
	box-sizing: border-box

body
	position: relative
	font-size: 16px
	min-width: 320px
	font-family: $default-font
	line-height: 1.75
.wrapper
	max-width: $wrapper-width
	margin: 0 auto

@import "media"